<div class="main">
    <app-vorschau-wetter *ngIf="this.vorschau != undefined" [vorschauDaten]="vorschau"></app-vorschau-wetter>
    <app-zusammenfassung-wetter [wetter]="wetter"></app-zusammenfassung-wetter>
    <div class="suche"> 
        <div class="box">
            <mat-form-field class="field-xl">
                <mat-label>Suche nach Ort</mat-label>
                <input matInput type="text" [(ngModel)]="ort" />
            </mat-form-field>
            <button mat-stroked-button (click)="ladeWetterByOrt()">Suchen</button>
        </div>
    </div>
</div>
