<div *ngIf="vorschauDaten !== undefined" class="detail">

    <mat-card>
        <mat-card-content class="daten">
            <div *ngIf="lineData.length > 0">
                <div style="display: blkock">
                    <canvas baseChart
                            [datasets]="lineData"
                            [options]="options"
                            [chartType]="chartType"
                            [legend]="legend"
                            [labels]="labels"
                            >
                        </canvas>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
