@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family:'Roboto, sans-serif'
);
@include mat-core($custom-typography);

$app-primary: (
    50 : #e3e3e3,
    100 : #b9b9b9,
    200 : #8a8a8a,
    300 : #5b5b5b,
    400 : #383838,
    500 : #151515,
    600 : #121212,
    700 : #0f0f0f,
    800 : #0c0c0c,
    900 : #060606,
    A100 : #ff4e4e,
    A200 : #ff1b1b,
    A400 : #e70000,
    A700 : #ce0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$primary: mat-palette($app-primary);
$warn:    mat-palette($mat-red);
$accent:    mat-palette($mat-yellow, 800);
$my-app-theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($my-app-theme);


.mat-card-header-text {
	width: 100% !important;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./assets/fonts/roboto.woff2) format('woff2');
}


html, body { height: auto; }
body { margin: 0; font-family: 'Roboto', sans-serif; }



.mat-list-base {
	padding: 0px !important;
}

mat-card {
    margin: 1rem;
    width: 40rem;
}

@media(max-width: 600px) {
    mat-card {
      width: 20rem;
      margin: 1rem 0 1rem 0;
    }
}
