<div *ngIf="wetter !== undefined" class="detail">

    <mat-card>
        <mat-card-title>
            Wetter in {{ wetter.name }}
        </mat-card-title>
        <mat-card-content class="daten">
            <div class="reihe"><img [src]="'http://openweathermap.org/img/wn/' + wetter.weather[0].icon +'.png'"/>
                 {{ wetter.weather[0].description}}</div>
            <div class="reihe"><span i18n>Temperatur:</span> {{ wetter.main.temp + '°C' }}</div>
            <div class="reihe"><span i18n>Gefühlte Temperatur:</span> {{ wetter.main.feels_like + '°C' }}</div>
        </mat-card-content>
    </mat-card>
</div>
