.detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.daten {
    display: flex;
    flex-direction: column;
}

.reihe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}